*{
    margin: 0px;
    padding: 0px;
}

.container{
 margin-left: 10%;




}


.site{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}

.menu{
    position: relative;
    float: left;
    width: 100%;
    height: 10%;
    background-color: rgb(12, 6, 65);

}


.carr{
    position: relative;
    float: left;
    width: 100%;
    height: 40%;
    background-color: rgb(30, 105, 52);

}


.video-texto{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    background-color: rgb(47, 92, 92);

}



.formulario{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
     /*background-color: crimson;*/   
   

}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::JAQUELINE + RENAN  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.formTopo{
    position: relative;
    float: left;
    width: 96%;
    height: 15%;
    background-color: rgb(204, 85, 0);

    margin-left: 2%;
    margin-right: 2%;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);

}

.corpoFormulario{
    position: relative;
    float: left;
    width: 96%;
    height: 85%;
    background-color: rgb(182, 182, 182);
    /*background-image: url(../images/fundoFormulario.jpg);*/

    margin-left: 2%;
    margin-right: 2%;

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;  

}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::JAQUELINE + RENAN  - FIM   ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::MARCAO  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/




/*MARCAO ESCREVE SEU CSS AQUI */





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::MARCAO - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::RAMON  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

.carousel-control-prev{
    background-color: black;
    height: 100%;
    width: 3%;
    justify-content: center;
      
}

.carousel-control-next{
    background-color: black;
    height: 100%;
    width: 3%;
    
}


/*RAMON ESCREVE SEU CSS AQUI */





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::RAMON - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::LETICIA  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/




/*LETICIA ESCREVE SEU CSS AQUI */

.vid{
    width: 100%;
    height: 80%;
    background-color: azure;
}
.texto{
    width: 100%;
    height: 20%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto p {
    text-transform: uppercase;
    color: cornsilk;
    font-weight: bolder;
}




/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::LETICIA - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/



/*
AQUI É O @MEDIA PARA VERSÃO DO CELULAR, CASO PRECISE, 
ARRUME SUAS DIVS DENTRO DO LOCAL INDICADO PARA CADA UM FAZER ISSO
*/



@media only screen and (max-width: 600px) {
    

.video-texto{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    background-color: rgb(47, 92, 92);

}

.formulario{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    /*background-color: crimson;*/

}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::JAQUELINE + RENAN  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
.formTopo{
    position: relative;
    float: left;
    width: 100%;
    height: 15%;
    background-color: rgb(204, 85, 0);

    margin-left: 0%;
    margin-right: 0%;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);

}

.corpoFormulario{
    position: relative;
    float: left;
    width: 100%;
    height: 85%;
    background-color: rgb(182, 182, 182);
    /*background-image: url(../images/fundoFormulario.jpg);*/

    margin-left: 0%;
    margin-right: 0%;

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%; 

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::JAQUELINE + RENAN  - FIM   ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::MARCAO  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/




/*MARCAO ESCREVE  SEU @MEDIA AQUI */





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::MARCAO - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::RAMON  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
    



/*RAMON ESCREVE SEU @MEDIA AQUI */





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::RAMON - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::LETICIA  - COMEÇO    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/




/*LETICIA ESCREVE SEU @MEDIA AQUI */





/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::LETICIA - FIM    ::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
}

.ctn{
    width: 100%;
    height: auto;
    background-color: #e5e5e5;    
}

.envelope-header{
    width: 100%;
    height: 39vh;
    background-color: #1118B2;
    margin-bottom: 1vh;
    
}

.titulo{
    width: 100%;
    height: 50%;
    
}
.frase{
    width: 100%;
    height: 50%;    
}

.bann-rolante{
    width: 100%;
    height: 40vh;
    
}

.envelope-corpo{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}

.texvid{
    width: 50%;
    height: 100%;
    background-color: darkgreen;
}

/* APAGAR */
.classe_mateus {
    position: relative;
}
/* APAGAR */